node_modules/
.vscode
.sass-cache/
.lsp/
.clj-kondo/
**/.#*
**/#*
.env
lambda/
**/.DS_Store
build/browser/cljs-runtime/
build/browser/**/*.html
build/browser/**/*.js
build/browser/**/*.css
build/browser/css/mazorca.css.map
build/ssr.js
build/node-app.js
build/browser/data/*.json
node_modules/
target/
.nrepl-port
.shadow-cljs/
.cider-repl-history
.cpcache/
