@charset "UTF-8";
//===Mazorca Core===//
@import "../../node_modules/mazorca-core/_mazorca-core.scss";

//===Configs===//
@import "mazorca/config/_config";

//===Vendor===//Css begins compling here
@import "vendor/github-markdown.scss";

//===Mazorca===//
@import "mazorca/_elements";
@import "mazorca/_grid"; //
@import "mazorca/_components";
@import "mazorca/_theme-helpers";
@import "mazorca/_modules";

@mixin button-styles {
  font-size: 16px;
  background-color: c(base);
  color: c(white);
  padding: 10px;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: lighten(c(base), 5%);
  }
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

body {
  padding-top: 26px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-40 {
  padding-top: 40px;
}

.text-red {
  color: c(red);
}

.page {
  font-family: f(sans);
  padding-bottom: 26px;
}

.about {
  @keyframes hue0 {
    0% {
      filter: saturate(0) hue-rotate(0deg) brightness(1) grayscale(10)
        opacity(0);
    }
    70% {
      filter: saturate(4) hue-rotate(90deg) brightness(1) grayscale(1)
        opacity(0.5);
    }
    100% {
      filter: saturate(14) hue-rotate(180deg) brightness(1) grayscale(0)
        opacity(1);
    }
  }
  @keyframes hue {
    0%,
    100% {
      filter: saturate(14) hue-rotate(180deg) brightness(1);
    }
    33% {
      filter: saturate(15) hue-rotate(240deg) brightness(1.2);
    }
    50% {
      filter: saturate(9) hue-rotate(320deg) brightness(1.5);
    }
    66% {
      filter: saturate(12) hue-rotate(270deg) brightness(1.1);
    }
  }
  &__image {
    &-container {
      position: relative;
      background-color: #eee;
    }
    filter: opacity(0);
    animation-name: hue0, hue;
    animation-duration: 10s, 30s;
    animation-delay: 0.5s, 10.5s;
    animation-timing-function: ease-in, ease-out;
    animation-iteration-count: 1, infinite;
  }

  &__quote {
    display: block;
    font-family: f(mono);
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0 20px;
    font-size: 16px;
    line-height: 1.6;
  }

  &__button,
  &__all-images-button {
    &-container {
      display: flex;
      justify-content: center;
      padding-top: 30px;
    }
    @include button-styles;
  }
  &__all-images-button {
    padding: 10px;
    background-color: c(base--home);
  }
  &__m-grid {
    margin: 0 auto;
    padding-top: 30px;
    &-item {
      width: calc(33% - 20px);
      margin: 10px;
    }
  }
}

.markdown-body {
  padding-top: 40px;
  font-family: f(sans);
}

.markdown-body img {
  width: auto;
  margin: 0 auto;
  display: block;
  .inline-images {
    img {
      display: inline-block;
    }
  }
}

.contact {
  @include basePage;

  &__links {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    margin: 40px auto;
    a {
      font-size: 14px;
      transition: color 0.5s ease-out;
      &:hover {
        color: darken(c(purple), 15%);
      }
    }
  }

  &__form {
    margin: 0 auto 20px;
    max-width: 600px;
    font-size: 16px;
    label:not(.checkbox__label) {
      display: block;
      font-family: f(mono);
      line-height: 1.618;
      margin-bottom: 20px;
    }

    input:not([type="checkbox"]),
    textarea {
      border: none;
      border-bottom: 1px solid black;
    }
    input:not([type="checkbox"]) {
      margin-top: 6px;
    }
    input[type="checkbox"] {
      position: relative;
      top: 4px;
      margin-right: 8px;
    }
    button {
      display: block;
      margin: 20px auto;
      @include button-styles;
    }
  }
}
